<div id="<%= dom_id add_on %>">
  <p>
    <strong>Name:</strong>
    <%= add_on.name %>
  </p>

  <p>
    <strong>Servings:</strong>
    <%= add_on.servings %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= add_on.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= add_on.category.humanize %>
  </p>

</div>