<p style="color: green"><%= notice %></p>

<%= render @add_on %>

<div>
  <%= link_to "Edit this add on", edit_add_on_path(@add_on) %> |
  <%= link_to "Back to add ons", add_ons_path %>

  <%= button_to "Destroy this add on", @add_on, method: :delete %>
</div>
