<div id="<%= dom_id meal %>">
  <p>
    <strong>Title:</strong>
    <%= meal.title %>
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= meal.cooking_time %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= meal.category.humanize %>
  </p>

  <p>
    <strong>Difficulty level:</strong>
    <%= meal.difficulty_level.humanize %>
  </p>

</div>
