<!DOCTYPE html>
<html>
  <head>
    <title>HellofreshLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%# <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    nav {
      background-color: #333;
      color: #fff;
      padding: 10px 20px;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    nav ul li {
      display: inline;
      margin-right: 20px;
    }

    nav ul li:last-child {
      margin-right: 0;
    }

    nav ul li a {
      color: #fff;
      text-decoration: none;
    }

    nav ul li a:hover {
      text-decoration: underline;
    }

    header {
      background-color: #f2f2f2;
      padding: 20px;
      text-align: center;
    }
  </style> %>
  </head>

  <body>
    <header>
      <h1>Welcome to HellofreshLite</h1>
    </header>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Meals", meals_path %></li>
        <li><%= link_to "Add-Ons", add_ons_path %></li>
      </ul>
    </nav>
    
    <%= yield %>
  </body>
</html>
