<!DOCTYPE html>
<html>
  <head>
    <title>HellofreshLite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>Welcome to HellofreshLite</h1>
    </header>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Meals", meals_path %></li>
        <li><%= link_to "Add-Ons", add_ons_path %></li>
      </ul>
    </nav>
    
    <%= yield %>
  </body>
</html>
